<div class="navbar">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button class="logo">Sql<span>Dropper</span></button>
      <!-- <span class="middle-spacer"></span>
      <button class="nav-buttons" mat-button>Home</button>
      <button class="nav-buttons" mat-button>Features</button>
      <button class="nav-buttons" mat-button>Pricing</button> -->
      <span class="spacer"></span>
      <!-- <button mat-button class="nav-buttons">Contact Us</button>
      <button mat-button class="nav-buttons">Go Premium</button> -->
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<!-- content -->
<!-- <div>

</div>
  <section clas="hero">
    <div class="container">
      <div class="left-col">
          <p class="subhead">It's Nitty &amp; Gritty</p>
          <h1>A Task App That Doesn't Stink</h1>
          <div clas="hero-cta">
            <a href="#" class="primary-cta">Try for free</a>
            <a href="#" class="watch-vide-cta">
              <span><fa-icon [icon]="faVideoCamera"></fa-icon>Watch a video</span>
            </a>
          </div>
      </div>
      <img src="../assets/undraw_server_cluster_jwwq.svg" class="hero-img" alrt="illustration">
    </div>

  </section> -->